<%= render '/shared/alerts' %>
<h3 id="question" class="text-center"><%= @question.text %></h1>

<table class="table" id="contest_table">
	<tr>
		<td>
			<%= image_tag( @contestant_a.image_path, :class => "left medallion") %>
		</td>
		<td>
			<%= image_tag( @contestant_b.image_path, :class => "right medallion" ) %>
		</td>
	</tr>
	<tr>
	
		<td><%= button_to @contestant_a.name, {
		  :controller => "contests",	  
		  :action => "submit", 
		  :method => "post", 
		  :winner => @contestant_a.id,
		  :loser => @contestant_b.id,
		  :question => @question.id
		}, :class => "btn contest", :data => 'left' %></td>
		
		<td><%= button_to @contestant_b.name, {
		  :controller => "contests",		  
		  :action => "submit", 
		  :method => "post", 
		  :winner => @contestant_b.id,
		  :loser => @contestant_a.id,
		  :question => @question.id
		}, :class => "btn contest", :data => "right" %></td>
	</tr>

</table>