<h1 class="text-center"><%= @question.text %></h1>

<table class="table" id="contest_table">
	<tr>
		<th>Contestant A</th>
		<th>Contestant B</th>
	</tr>
	<tr>
		<td>
			<%= image_tag( @contestant_a.image_path ) %>
		</td>
		<td>
			<%= image_tag( @contestant_b.image_path ) %>
		</td>
	</tr>
	<tr>
	
		<td><%= button_to @contestant_a.name, {
		  :controller => "contests", 
		  :action => "submit", 
		  :method => "post", 
		  :winner => @contestant_a.id,
		  :loser => @contestant_b.id,
		  :question => @question.id
		}, :class => "btn" %></td>
		
		<td><%= button_to @contestant_b.name, {
		  :controller => "contests", 
		  :action => "submit", 
		  :method => "post", 
		  :winner => @contestant_b.id,
		  :loser => @contestant_a.id,
		  :question => @question.id
		}, :class => "btn" %></td>
	</tr>

</table>