<%= image_tag( @team_member.image_path, :id => "profile_portrait"  ) %><h1 id="profile_heading"><%= @team_member.name %>, <%= appellation %></h1>

<table class="table" id="profile_table">
	
	<tr>
		<td>
			Name: 
		</td>
		<td>
			<%= @team_member.name %>
		</td>
	</tr>
	
	<tr>
		<td>
			Email: 
		</td>
		<td>
			<%= @team_member.email %>
		</td>
	</tr>
	
	<tr>
		<td>
			Times in Contests: 
		</td>
		<td>
			<%= @team_member.times_in_contests %>
		</td>
	</tr>

<% if @last_defeat %>
	
	<tr class="loser">
		<th colspan="2">Most Recent Defeat</th>
	</tr>
	
	<tr class="loser">
		<td><%= @last_defeat.question.text %></td>
		<td><%= link_to image_tag(@last_defeat.winner.image_path), team_member_path( @last_defeat.winner.id) %></td>
		
	</tr>
	
<% end %>

<% if @last_victory %>
	
	<tr class="winner">
		<th colspan="2">Most Recent Victory</th>

	</tr>
	
	<tr class="winner">
		<td><%= @last_victory.question.text %></td>
		<td><%= link_to image_tag(@last_victory.loser.image_path), team_member_path( @last_victory.loser.id) %></td>
	</tr>
	
<% end %>
</table>


