<%= render '/shared/alerts' %>
<%= render '/shared/masthead' %>

<table class="table" id="profile-table">
	
	<tr>
		<td>
			Name: 
		</td>
		<td>
			<%= @team_member.name %>
		</td>
	</tr>
	
	<tr>
		<td>
			Email: 
		</td>
		<td>
			<%= mail_to @team_member.email %>
		</td>
	</tr>
	
	<tr >
		<td>
			<%= link_to "Times in Contests:", user_contests_path( @team_member.id ) %> 
		</td>
		<td>
			<%= @team_member.times_in_contests %>
		</td>
	</tr>
	
	<tr class="winner">
		<td>
			Victories: 
		</td>
		<td>
			<%= @team_member.wins.count %>
		</td>
	</tr>
	
	<tr class="loser">
		<td>
			Defeats: 
		</td>
		<td>
			<%= @team_member.losses.count %>
		</td>
	</tr>
	
	<tr class="winner">
		<td>
			Best winning streak: 
		</td>
		<td>
			<% if @team_member.best_streak(:wins).length > 1 %>
				<%= @team_member.best_streak(:wins).length %>
			<% else %>
				None
			<% end %>
		</td>
	</tr>
	
	<tr class="loser">
		<td>
			Worst losing streak:
		</td>
		<td>
			<% if @team_member.best_streak(:losses).length > 1 %>
				<%= @team_member.best_streak(:losses).length %>
			<% else %>
				None
			<% end %>
		</td>
	</tr>	
	
	<tr class="winner">
		<td>
			Most likely to: 
		</td>
		<td>
			<% if @likeliest.empty? %>
			N/A				
				
			<% else %>
				<ul>
					<% @likeliest.each do |trait, value| %>
						<li class=>
							<%= trait %> <em>(<%= value %> votes)</em>
						</li>
					<% end %>
				</ul>
			<% end %>
		</td>
	</tr>
	
		<tr class="loser">
		<td>
			Least likely to: 
		</td>
		<td>
		<% if @unlikeliest.empty? %>
			N/A			
				
			<% else %>
			<ul>
				<% @unlikeliest.each do |trait, value| %>
					<li>
						<%= trait %><em> (<%= value %> votes)</em>
					</li>
				<% end %>
			</ul>
		<% end %>
		</td>
	</tr>
	
<% if @last_victory %>
	
	<tr class="winner">
		<th colspan="2">Most Recent Victory</th>

	</tr>
	
	<tr class="winner">
		<td><%= link_to @last_victory.question.text, question_path(@last_victory.question.id) %><em> (<%= pretty_time(@last_victory.created_at) %>)</em></td>
		<td class="text-center"><%= portrait_link @last_victory.loser %></td>
	</tr>
	
<% end %>

<% if @last_defeat %>
	
	<tr class="loser">
		<th colspan="2">Most Recent Defeat</th>
	</tr>
	
	<tr class="loser">
		<td><%= link_to @last_defeat.question.text, question_path(@last_defeat.question.id) %><em> (<%= pretty_time(@last_defeat.created_at) %>)</em></td>
		<td class="text-center"><%= portrait_link @last_defeat.winner %></td>
		
	</tr>
	
<% end %>

</table>