<%= render '/shared/alerts' %>
<%= image_tag( @team_member.image_path, :id => "profile_portrait"  ) %><h1 id="profile_heading"><%= @team_member.name %>, <%= appellation %></h1>

<table class="table" id="profile_table">
	
	<tr>
		<td>
			Name: 
		</td>
		<td>
			<%= @team_member.name %>
		</td>
	</tr>
	
	<tr>
		<td>
			Email: 
		</td>
		<td>
			<%= mail_to @team_member.email %>
		</td>
	</tr>
	
	<tr >
		<td>
			Times in Contests: 
		</td>
		<td>
			<%= @team_member.times_in_contests %>
		</td>
	</tr>
	
	<tr class="winner">
		<td>
			Victories: 
		</td>
		<td>
			<%= @team_member.wins.count %>
		</td>
	</tr>
	
	<tr class="loser">
		<td>
			Defeats: 
		</td>
		<td>
			<%= @team_member.losses.count %>
		</td>
	</tr>

<% if @last_victory %>
	
	<tr class="winner">
		<th colspan="2">Most Recent Victory</th>

	</tr>
	
	<tr class="winner">
		<td><%= link_to @last_victory.question.text, question_path(@last_victory.question.id) %><em>(<%= pretty_time(@last_victory.created_at) %>)</em></td>
		<td><%= link_to image_tag(@last_victory.loser.image_path), team_member_path( @last_victory.loser.id) %></td>
	</tr>
	
<% end %>

<% if @last_defeat %>
	
	<tr class="loser">
		<th colspan="2">Most Recent Defeat</th>
	</tr>
	
	<tr class="loser">
		<td><%= link_to @last_defeat.question.text, question_path(@last_defeat.question.id) %><em>(<%= pretty_time(@last_defeat.created_at) %>)</em></td>
		<td><%= link_to image_tag(@last_defeat.winner.image_path), team_member_path( @last_defeat.winner.id) %></td>
		
	</tr>
	
<% end %>

</table>


