
<div id="my_nav" class="navbar navbar-default navbar-static-top">
	<div class="container">
	
	<ul class="nav nav-bar">
				<% if controller?('contests') && action?('new') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>					
				<%= link_to "Vote!", new_contest_path %></li>


				<% if controller?('contests') && action?('index') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>					
				<%= link_to "Recent Contests", contests_path %></li>
	</ul>
	
	

		<div class="navbar-collapse collapse">
			<ul class="nav nav-bar">
				
				<% if controller?('team_members') && action?('index') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
				<%= link_to "Quipper Team", team_members_path %></li>
	
				<% if controller?('questions') && action?('index') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
				<%= link_to "Questions", questions_path %>
					</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">	
				<% if logged_in? %>
					<% if controller?('team_members') && action?('show') && id?(current_user.id) %>
						<li class="active">
					<% else %>
						<li>
					<% end %>
					
					<%= link_to (image_tag(current_user.image_path)), team_member_path(current_user.id), :class => "portrait" %></li>
					<li><%= link_to "Log-out", logout_path %></li>
				<% else %>
					<% if action?("sign_in") %>
						<li class="active">
					<% else %>
						<li>
					<% end %>	
					<%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
		</div>
		
	</div>
		

</div>

