			<ul class="nav nav-pills nav-justified">
				<% if controller?('contests') && action?('new') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>					
				<%= link_to "Vote!", new_contest_path %></li>
			
			
				<% if controller?('contests') && action?('index') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>					
				<%= link_to "Recent Contests", contests_path %></li>
				
				<% if controller?('team_members') && action?('index') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
				<%= link_to "Quipper Team", team_members_path %></li>
				
				<% if false %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
				
				
				<% if controller?('questions') %>
					<li class="active">
				<% else %>
					<li>
				<% end %>
				<%= link_to "Questions", questions_path %></li>
				
				<% if session[:team_member_id] %>
					<% if controller?('team_members') && action?('show') %>
						<li class="active">
					<% else %>
						<li>
					<% end %>
					
					<%= link_to "#{get_name session[:team_member_id]}", team_member_path(session[:team_member_id]) %></li>
					<li><%= link_to "Log-out", logout_path %></li>
				<% else %>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
			
			</ul>
